<div class="center jumbotron">
 <h1>Clawing My Way <br>Across the Finish Line</h1>
<h2><p align=left>
I like Rails a lot. Having spent half my life hand-coding HTML, I wonder whether people who are new to web development can really understand how 
magical Rails is! Not just the relief of having it create your framework all at once, but how simple it is to set up the design and navigation elements.
Talk about DRY - it's the total opposite of old-school HTML.</p> 
<p>
And having taken the Ruby class first, I wonder whether it's not better to start with Rails. I think that if students started out with the Rails 
class, the Ruby class could get up to speed more smoothly because students would already have some familiarity with the language, what it looks 
like, and what it can do. It would also provide the opportunity to make more interesting and advanced websites in the Rails portion of the Ruby 
class -- to really see how far you can go with Rails when you get to know Ruby. 
</p><p>Now that I am familiar with Rails, I look forward to delving deeper into Ruby and learning more about both powerful tools. Thank you! 
</h2>
</div>
